// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #ccb147;
$primary-invert: #f6f6f5;

$uncommon: $success;
$rare: #0070dd;
$epic: #a335ee;
$legendary: #ff8000;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "uncommon": ($uncommon, $success-invert),
    "rare": ($rare, $info-invert),
    "epic": ($epic, $primary-invert),
    "legendary": ($legendary, $warning-invert)
);

// Links
$link: #846415;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$slider-tick-background: #f6f6f5;
$slider-tick-width: 2px;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

@font-face {
    font-family: 'OohBahn';
    src: url('assets/fonts/OohBahn.eot');
    src: url('assets/fonts/OohBahn.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/OohBahn.svg#OohBahn') format('svg'),
         url('assets/fonts/OohBahn.ttf') format('truetype'),
         url('assets/fonts/OohBahn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

h1 {
    font-family: OohBahn;
}
